<p style="color: green"><%= notice %></p>

<div class="ui">
  <nav class="navbar app">
    <h1>Tomodoro!</h1>
  </nav>
  <nav class="navbar board">
    <div>Board: My Tasks</div>
    <%= link_to "New lane", new_lane_path,
                class: "btn btn--primary",
                data: { turbo_frame: dom_id(Lane.new) } %>
  </nav>
  <div class="lanes" data-controller="drag">
    <%= render @lanes %>
  </div>
</div>
