<turbo-frame id="<%= dom_id card %>">

<div class="card">
    <h3><%= "#{card.title}" %></h3>
    <p><%= card.body %></p>
    <a href="<%= edit_lane_card_path card.lane, card %>" class="btn btn--slim btn--secondary">Edit...</a>
</div>

</turbo-frame>
