<h1>New card</h1>

<turbo-frame id="<%= turbo_new_card_id @lane %>">
<%= render "form", card: @card, lane: @lane %>
</turbo-frame>

<br>

<div>
  <%= link_to "Back to cards", lane_cards_path(@lane) %>
</div>
